body {
    background-color: #bed4e9;
    font-family: 'times new roman'
}
#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: solid black;
    background-color: black;
    height: 35px;
}
button {
    font-size: 20px;
    font-family: 'times new roman';
    border: none;
    background-color: black;
    color: white;
    height: 35px;
}
#sidebar {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    /* border: solid black; */
    padding: 60px 75px;
}
#name {
    width: 200px;
    font-size: 20px;
    height: 90px;
    padding-bottom: 8px;
}
#title {
    font-size: 25px;
}
#profile {
    height: auto;
    width: 200px;
}
#socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
}
.social {
    height: auto;
    width: 30px;
    padding: 15px 0px;
}
@media (max-width: 1000px) {
    .previous {
        padding-left: 25px;
    }
}
#pages {
    display: flex;
    flex-direction: row;
    position: relative;
}
#home {
    padding: 100px 75px;
    display: block;
}
#about {
    padding: 75px;
    display: none;
}
#education {
    padding: 75px;
    display: none;
    position: relative;
}
#degreebttn, #certificate, #closedegree {
    font-size: 15px;
    height: 25px;
}
#degree {
    height: auto;
    width: 100%;
}
#degreemodal {
    height: 100%;
    width: 100%;
    /* padding: 125px 350px 200px 350px; */
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#modalcontent {
    height: auto;
    width: 350px;
    padding-top: 125px;
    padding-left: 350px;
}
#closedegree {
    width: 350px;
}
#projects {
    display: flex;
    flex-direction: row;
}
.next {
    padding-right: 75px;
}
#project1 {
    display: none;
    text-align: center;
}
#project2 {
    display: none;
    text-align: center;
}
#project3 {
    display: none;
    text-align: center;
}
#project4 {
    display: none;
    text-align: center;
}
#projecttypes {
    padding: 100px 45px;
    align-self: center;
    display: none;
}
.carousel-button {
    align-self: center;
    font-size: 25px;
    display: none;
    width: 29.5px;
}
a {
    font-size: 20px;
    font-family: 'times new roman';
    color: black;
    text-decoration: none;
}
.projectlink {
    font-weight: bold;
}
/* h2, p {
    font-weight: bold;
} */
@media screen and (max-width: 850px) {
    .next {
        padding-right: 50px;
    }
}
@media screen and (max-width: 760px) {
    #modalcontent, #closedegree {
        width: 300px;
    }
}
@media screen and (max-width: 680px) {
    #pages {
        display: flex;
        flex-direction: column;
    }
    #home, #about, #education {
        padding: 0px 75px
    }
    #projecttypes {
        padding: 0px 45px;
    }
    .previous  {
        padding-left: 25px;
    }
    .next {
        padding-right: 25px;
    }
    #sidebar {
        padding: 30px 0px 10px 0px;
        /* padding-left: 150px;
        padding-top: 30px;
        padding-bottom: 10px; */
        width: 100%;
        align-items: center;
    }
    #modalcontent {
        padding-top: 500px;
        padding-left: 65px;
        align-self: center;
    }
    #education, #projects {
        padding-bottom: 15px;
    }
    #modalcontent, #closedegree {
        width: 275px;
    }
}
@media screen and (max-width: 724px) {
    #certificate {
        width: 177px;
    }
}
#dropdown {
    display: inline-block;
} 
#educationbttn {
    width: 115px;
    text-align: left;
    border: solid white;
    display: none;
}
#experiencebttn {
    border: solid white;
    display: none;
}